body {
  font-family: 'Karla', sans-serif;
  background-color: #0B2434;
  padding: 30px 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background-color: #F5F5F5;
  margin: 28px 20px 28px 20px;
  border-radius: 5px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #2B283A;
  padding-top: 30px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #4A4E74;
  margin: 0 10px;
}

.dices {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 15px;
  padding: 10px;
  flex-wrap: wrap;
}

.dice {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px 0px #00000026;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.roll-button {
  font-size: 20px;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  background-color: #5035FF;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


